{% extends 'Internal/competitions/iResults.html' %}

<!--PLANILLA DE SALTOS-->
{% block tables %}   
    {% if heats_data %}
        {% for heat in heats_data %}
            <h3 class="text-center mt-4 mb-3"><u>{{heat.heat.serie}}</u></h4>
                <table class="table table-sm table-striped taborder table-bordered" >
                <thead class="table-info">
                    <tr>
                        <th class="text-center" style="width: 5%;">Lugar</th>
                        <th class="text-center" style="width: 5%;">Dorsal</th>
                        <th class="text-center" style="width: 40%;">Atleta</th>
                        <th class="text-center" style="width: 12%;">A. N.</th>
                        <th class="text-center" style="width: 8%;">Pais</th>
                        <th class="text-center" style="width: 15%;">Marca</th>                
                    </tr>
                </thead>
                <tbody>
                    {% for atle in heat.assign %}
                    <tr>
                        <td class="text-center">{{atle.strAthle}}</td>
                        <td class="text-center">{{atle.competitionNumber}}</td>
                        <td class="text-center">{{atle.athlete}}</td>
                        <td class="text-center">10 ENE 2000</td>
                        <td class="text-center">Chile</td>
                        <td class="text-center marks"> 
                            <input class="text-center inputmark" type="text" value="{{atle.result}}" id="{{heat.heat.id}}-{{atle.athleteId.id}}">
                            <button class=" btn btn-sm btn-success markbutton" id="{{heat.heat.id}}-{{atle.athleteId.id}}">G</button>
                            <button class=" btn btn-sm btn-warning resetmark" id="{{heat.heat.id}}-{{atle.athleteId.id}}">R</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %} 
    {% else %}
        <h3 class="text-center">No hay series registradas hasta el momento.</h3>
    {% endif %}
    <script>
        $('.markbutton').on('click',function(){
            value = $('#'+this.id)[0].value;

            $.post("{% url 'results_view' cpi %}",
                {'csrfmiddlewaretoken':'{{csrf_token}}','atleta':this.id,'value':value},
                function(response){
                    if (response){
                        location.reload();
                    }
                    console.log('error');
                }
            );
        })
    </script>
    <style>
        .inputmark{
            float: left;
            width:50%;
        }
    </style>
{% endblock %}