{% extends 'Internal/competitions/iResults.html' %}

<!--PLANILLA DE MEDIOFONDO-->
{% block tables %}
    {% if heats_data %}
        {% for heat in heats_data %}
            <h3 class="text-center mt-4 mb-3"><u>{{heat.heat.serie}}</u></h4>
            <table class="table table-sm table-striped taborder table-bordered" style="width: 100%;" >
                <thead class="table-info">
                    <tr>
                        <th class="text-center" style="width: 3%;">Lugar</th>
                        <th class="text-center" style="width: 3%;">Dorsal</th>
                        <th class="text-center" style="width: 25%;">Atleta</th>
                        <th class="text-center" style="width: 3%;">A. N.</th>
                        <th class="text-center" style="width: 15%;">Club</th>
                        <th class="text-center" style="width: 10%;">Marca</th>                
                    </tr>
                </thead>
                <tbody>
                    {% for atle in heat.assign %}
                    <tr>

                        {% if atle.place == 99 %}
                            <td class="text-center">-</td>
                        {% else %}
                            <td class="text-center">{{atle.place}}</td>
                        {% endif %}
                        <td class="text-center">{{atle.competitionNumber}}</td>
                        {% if atle.strAthle == 'PIVOTE' %}
                            <td>{{atle.athleteId.name}}</td>
                            <td>{{atle.athleteId.birthdate |date:"d/m/Y"}}</td>
                            <td>{{atle.athleteId.clubId}}</td>
                        {% else %}
                            <td >{{atle.strAthle}}</td>
                            <td >--/--/----</td>
                            <td >{{atle.strClub}}</td>
                        {% endif %} 
                        <td class="text-center marks"> 
                            <input class="text-center inputmark" type="text" value="{{atle.get_result}}" id="atle{{heat.heat.id}}-{{atle.athleteId.id}}">
                            <button class=" btn btn-sm btn-success markbutton" id="{{heat.heat.id}}-{{atle.athleteId.id}}">Guardar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %} 
    {% else %}
        <h3 class="text-center">No hay series registradas hasta el momento.</h3>
    {% endif %}
    <script>

        $('.markbutton').on('click',function(){
            participation = $('#atle'+this.id)[0].value;

            $.post("{% url 'change_time' %}",
                {'csrfmiddlewaretoken':'{{csrf_token}}','atleta':this.id,'participation':participation,'type':'3','comp':'{{competition.get_type}}'},
                function(response){
                    if(response == 'False'){
                        alert("Datos incorrectos");
                        location.reload();
                    }
                }
            );
        });

        /*
        $('.markbutton').on('click',function(){
            value = $('#'+this.id)[0].value;

            $.post("{% url 'results_view' cpi %}",
                {'csrfmiddlewaretoken':'{{csrf_token}}','atleta':this.id,'value':value},
                function(response){
                    if (response){
                        location.reload();
                    }
                    console.log('error');
                }
            );
        })*/
    </script>

    <style>
        .inputmark{
            float: left;
            width:50%;
        }
    </style>
{% endblock %}