{% extends 'members/FedachiUser/fBase.html' %}
{% load static %}

{% block docs %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">      
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>Gestionar</p>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principalAminsView' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active bg-primary text-white" href="{% url 'fedachi_championships' %}">Campeonatos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fedachi_competitions' %}">Competencias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fedachi_athletes' %}">Atletas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_inscriptions' %}">Inscripciones</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_clubs' %}">Clubes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_events' %}">Eventos</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">.</a>
                    </li>
                    -->
                  </ul>
            </div>
        </div>
        <div class="mt-2"> 
            <button class="btn btn-sm btn-success float-right ml-2" id="buttonJson">Cargar Archivo</button>
            <a type="button" class="btn btn-sm btn-primary float-right mb-2" href="{% url 'newChampionship' %}"> Nuevo Campeonato</a>
        </div>

        {% if champs %}
            <p class="mt-2">total de Campeonatos: {{champs|length}}</p>
            <div class="row">
                <div class="col-8">
                    <select class="form-control" name="selectChamp" id="idChamp">
                        <option value="">Seleccione campeonato</option>
                        {% for champ in champs %}
                            <option value="{{champ.id}}">{{champ.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <h1 class="text-center mt-2">No hay campeonatos registrados.</h1>
            </div>
        </div>
        
        {% endif %}

        <div id="magia">

        </div>
    </div>

    <!-- FILE MODAL -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header row">
                    <div class="col-8"> 
                        <h5 class="modal-title color-black" id="MTITLE">Subir archivo con datos</h5>
                    </div>
                    <div class="col-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
    
                <div class="modal-body" style="max-height: 250px;">
                    <form action="{% url 'fedachi_championships' %}" id="fileform" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-3">
                            <label for="optionID">Datos a cargar:</label>
                            <select class="form-control" name="option" id="optionID">
                                <option value="1">Campeonatos</option>
                                <option value="2">Etapas</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="fileID">Sube un archivo:</label>
                            <input type="file" name="archivosubido" id="fileID">

                            <button class="btn btn-sm btn-secondary mt-4" type="submit"> Enviar</button>
                        </div>
                    </form> 
                </div>
                <div class="modal-footer">
                <!--Espacio disponible para alguna funcionalidad-->
                </div>
            </div>
        </div>
    </div>
    <!-- END FILE MODAL -->

    <script>
        $('#buttonJson').click(function(){
            $('#fileModal').modal('show');
        })

        $('#fileform').submit(function(event){
            file = this['archivosubido'].value.split('\\');
            filename = file[file.length-1];
            typefile = $('#optionID')[0].value;
            
            if(filename == 'championship.json' && typefile == '1'){
                return true;
            }
            else if(filename == 'stages.json' && typefile == '2'){
                return true;
            }
            else{
                alert("Archivo Equivocado");
                return false;
            }
        });

        $('#idChamp').change(function(){
            $('#magia').load("{% url 'Query_Champ' %}?id="+this.value);
        });

        $('#magia').on('click','button',function(){
            if(this.id == 'stagesButton')
            {
                $('#magia #stagesModal ').modal('show');
            }
            else if(this.id == 'champMod'){
                $('#magia #modModal ').modal('show');
            }
            else if(this.id == 'champDisabled'){
                console.log("acivar o desactivar campeonato")
            }
            else if(this.id == 'buttonNewE'){            
                $('#magia #stagesModal').modal('hide')
                $('#newStage2').modal('show');
            }
        });
    </script>
{% endblock %}
