{% extends 'members/FedachiUser/fBase.html' %}
{% load static %}

{% block docs %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">      
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>Gestionar</p>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active bg-primary text-white" href="{% url 'fedachi_championships' %}">Campeonatos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fedachi_competitions' %}">Competencias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fedachi_athletes' %}">Atletas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_inscriptions' %}">Inscripciones</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_clubs' %}">Clubes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fedachi_events' %}">Eventos</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">.</a>
                    </li>
                    -->
                  </ul>
            </div>
        </div>
        <div class="mt-2"> 
            <button class="btn btn-sm btn-success float-right ml-2" id="buttonJson">Cargar Archivo</button>
            <a type="button" class="btn btn-sm btn-primary float-right mb-2" href="{% url 'newChampionship' %}"> Nuevo Campeonato</a>
        </div>

        {% if champs %}
            <p class="mt-2">total de Campeonatos: {{champs|length}}</p>
            <div class="row">
                <div class="col-8">
                    <select class="form-control" name="selectChamp" id="idChamp">
                        <option value="">Seleccione campeonato</option>
                        {% for champ in champs %}
                            <option value="{{champ.id}}">{{champ.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <h1 class="text-center mt-2">No hay campeonatos registrados.</h1>
            </div>
        </div>
        
        {% endif %}

        <div id="magia">

        </div>
    </div>

    <!-- FILE MODAL -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header row">
                    <div class="col-8"> 
                        <h5 class="modal-title color-black" id="MTITLE">Subir archivo con datos</h5>
                    </div>
                    <div class="col-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
    
                <div class="modal-body" style="max-height: 250px;">
                    <form action="{% url 'fedachi_championships' %}" id="fileform" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-3">
                            <label for="optionID">Datos a cargar:</label>
                            <select class="form-control" name="option" id="optionID">
                                <option value="1">Campeonatos</option>
                                <option value="2">Etapas</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="fileID">Sube un archivo:</label>
                            <input type="file" name="archivosubido" id="fileID">

                            <button class="btn btn-sm btn-secondary mt-4" type="submit"> Enviar</button>
                        </div>
                    </form> 
                </div>
                <div class="modal-footer">
                <!--Espacio disponible para alguna funcionalidad-->
                </div>
            </div>
        </div>
    </div>
    <!-- END FILE MODAL -->

    <!-- NEW STAGE MODAL -->
    <div class="modal fade" id="newStage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header row">
                    <div class="col-8"> 
                        <h5 class="modal-title color-black" id="MTITLE">Subir archivo con datos</h5>
                    </div>
                    <div class="col-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
    
                <div class="modal-body" style="max-height: 250px;">
                    <form id="formStage" class='user' method="post" action="#" autocomplete="off">
                        {% csrf_token %}
                        <!-- FIRST ROW -->
                        <div class="row">
                          <div class="col-1"></div>
                          <div class="form-group col-6">
                            <label for="text_id" class="color-black"> Nombre de la etapa</label>
                            <input type="text" class="form-control" name="stage_name" placeholder="Etapa X mañana" id="text_id">        
                          </div>    
                          
                          <div class="col-1"></div>
                          <div class="col-3">
                            <label class="color-black"> Seleccione Fecha</label>
                            <div class="input-group date">
                              <input type="text" name="stage_date" class="form-control">
                              <span class="input-group-addon ml-1">
                                <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                  <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                              </span>            
                            </div>
                          </div>
                        </div>
                        <!-- END FIRST ROW -->
                      
                        <!-- SECOND ROW -->
                        <div class="row">
                          <div class="col-1"></div> 
                          <div class="col-2">
                            <label class="color-black"> Hora de inicio</label>
                            <div class="input-group" id="f_hour">
                              <input type="text" name="init_hour" class="form-control">
                                <span class="input-group-addon ml-1">
                                  <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                                </span>          
                            </div>
                          </div>
                      
                          <div class="col-2">
                            <label class="color-black"> Hora de termino</label>
                            <div class="input-group" id="f_hour">
                              <input type="text" name="finish_hour" class="form-control">
                                <span class="input-group-addon ml-1">
                                  <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                                </span>  
                            </div>
                          </div>
                          <div class="col-1"></div>  
                        </div> 
                        <br>
                        <!-- END SECOND ROW -->
                      
                        <div class="row">
                          <div class="col-2"></div> 
                          <button type="submit" class ="btn btn-primary btn-user col-8 mt-4" style="float:none;text-align:center;">Crear etapa</button>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                <!--Espacio disponible para alguna funcionalidad-->
                </div>
            </div>
        </div>
    </div>
    <!-- END NEW STAGE MODAL -->

    <script>
        $('#buttonJson').click(function(){
            $('#fileModal').modal('show');
        })

        $('#fileform').submit(function(event){
            file = this['archivosubido'].value.split('\\');
            filename = file[file.length-1];
            typefile = $('#optionID')[0].value;
            
            if(filename == 'championship.json' && typefile == '1'){
                return true;
            }
            else if(filename == 'stages.json' && typefile == '2'){
                return true;
            }
            else{
                alert("Archivo Equivocado");
                return false;
            }
        });

        $('#idChamp').change(function(){
            $('#magia').load("{% url 'Query_Champ' %}?id="+this.value);
        });

        $('#magia').on('click','button',function(){
            if(this.id == 'stagesButton')
            {
                $('#magia #stagesModal ').modal('show');
            }
            else if(this.id == 'champMod'){
                $('#magia #modModal ').modal('show');
            }
            else if(this.id == 'champDisabled'){
                console.log("acivar o desactivar campeonato")
            }
            else if(this.id == 'buttonNewE'){            
                url = "{% url 'create_stage' 0 %}".replace('0',$('#idChamp')[0].value)
                $('#formStage').attr('action',url);
                $('#magia #stagesModal').modal('hide')
                $('#newStage').modal('show');
            }
        });
    </script>
{% endblock %}
