{% load static %}

<!--FUENTE ELEGIDA: HELVETICA-->
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/customs.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        {% block docs %}
        {% endblock %}
    </head>
    <style>
        @font-face {font-family: Helvetica;src: url("/static/fonts/Helvetica-Font/Helvetica.ttf");}
        .hola{font-family: 'Helvetica';}
    </style>
    
    <body class="hola">
        <div class="container-fluid mt-4">
            <!--navbar-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <a class="navbar-brand text-primary" href="{% url 'principalView' %}">
                    <img  height="45px" src="{% static 'img/logo.png' %}" alt="Image">
                </a>
  
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-primary" href="{% url 'championshipsView' %}">Campeonatos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#">Atletas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled text-primary" href="#">Calendario</a>
                        </li>
                    </ul>
                </div>    
                <a class="nav-link text-primary float-right mt-1" href="{% url 'logout' %}">{{request.user}}</a>
            </nav>
        </div>

        {% if fonts %}
        <div class="container-fluid mt-2 row">
            <div class="col-3">
                <select name="selectFonts" id="select">
                    {% for f in fonts %}
                     <option value="{{f}}">{{f}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <button class="btn btn-sm btn-success options" id="previous" value="0">Anterior</button>
                <button class="btn btn-sm btn-success options" id="next" value="0">Siguiente</button>
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        <div class="container-fluid">internal</div>
    </body>

    <style>
    </style>

    <script>
        /*Funcion para cambiar la fuente del texto
        primeramente se elige la carpeta que hace alusion a la fuente en cuestion
        luego se eligue cambiar mediante los botones los distintos archivos de fuente
        $('#select').change(function(){
            btns = $('.options');
            btns[0].value = 0;
            btns[1].value = 0;   
        });
    
        $('.options').on('click',function(){
            btns = $('.options');
            select = $('#select').val();
            $.post( "{% url 'get_fonts' %}",
                    {'csrfmiddlewaretoken':'{{csrf_token}}','folder':select,'function':this.id,'value':this.value},
                    function(response){
                        if(response['valid']){
                            $('style')[0].innerText = '';
                            $("style").append(response['style']);
                            $("style").append(".hola{font-family:"+response['family']+";}");
                            console.log(response['style']);
                        }
                        btns[0].value = response['value'];
                        btns[1].value = response['value'];   
                    }
            );
        });*/
    </script>
</html>