{% extends 'Internal/iBase.html' %}
{% load static %}

{% block docs %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">      
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-12">
                {% if user == 'Fedachi' %}
                    <a type="button" class="btn btn-sm btn-info float-right" href="{% url 'fedachi_championships' %}">Volver</a>
                {% else %}
                    <a type="button" class="btn btn-sm btn-info float-right" href="{% url 'championshipsView' %}">Volver</a>
                {% endif %}
            </div>
        </div>

        <form class='user' method="POST" action="{% url 'modifyChampionship' champ.id %}" autocomplete="off">
            {% csrf_token %}
            <!-- first_row -->
            <div class="row">
                <div class="form-group col-6">        
                    <label for="champ_id">Nombre Campeonato</label>
                    <input class="form-control" type="text" name="event_name" id="champ_id"  placeholder="{{champ.championshipName}}">
                </div>    

                <div class="form-group col-3">
                    <input type="checkbox" value="True" name="atlexclub" id="limit">
                    <label for="axc">Limitar atletas de club</label>
                    <select name="limit_club" id="axc" disabled>
                        <option value="">Selecione una opción</option>
                        <option value="1">1 Atleta por prueba</option>
                        <option value="2">2 Atleta por prueba</option>
                        <option value="3">3 Atleta por prueba</option>
                        <option value="4">4 Atleta por prueba</option>
                        <option value="5">5 Atleta por prueba</option>
                    </select>
                </div>

                <div class="form-group col-3">
                    <label for="" >Categorias</label>
                    <ul class="list-group" style="position: absolute;overflow-y: scroll; height: 150px;">
                        <li class="list-group-item">
                            {% if champ.category.0 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="TD"  checked> Todo competidor</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="TD" > Todo competidor</li>
                            {% endif %}
                             
                        <li class="list-group-item"> 
                            {% if champ.category.1 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="CD"  checked> Capacidades diferentes</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="CD" > Capacidades diferentes</li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.2 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="M"  checked> Master</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="M" > Master</li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.3 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="A"  checked> Adulto </li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="A" > Adulto </li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.4 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="u23"  checked> u23</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="u23" > u23</li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.5 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="u20"  checked> u20</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="u20" > u20</li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.6 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="u18"  checked> u18</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="u18" > u18</li>
                            {% endif %}
                            
                        <li class="list-group-item"> 
                            {% if champ.category.7 == '1' %}
                                <input type="checkbox" class="cate" value="True" name="u16"  checked> u16</li>
                            {% else %}
                                <input type="checkbox" class="cate" value="True" name="u16" > u16</li>
                            {% endif %}
                    </ul>
                </div>
            </div>
            <!--end_first_row -->
          
            <!--second_row-->
            <div class="row">
                <div class="form-group col-3">
                    <label for="region_id">Región</label>
                    <input class="form-control" type="text" name="region" id="region_id" placeholder="{{champ.region}}" >
                </div>
    
                <div class="form-group col-3">
                    <label for="direction_id">Dirección</label>
                    <input class="form-control" type="text" name="direction" id="direction_id" placeholder="{{champ.address}}" >
                </div>

                <div class="form-group col-3">
                    <label for="">Máximo de pruebas por atleta</label>
                    <select class="form-control" name="limit_athle" id="">
                        <option value="">Seleccione una opcion</option>
                        <option value="2">2 Individuales</option>
                        <option value="21">2 Individuales + Posta</option>
                        <option value="3">3 Individuales</option>
                        <option value="31">3 Individuales + Posta</option>
                        <option value="0">Sin limite</option>
                    </select>
                </div>
           </div> 
            <!--end_second_row -->
    
            <!--third_row -->
            <div class="row">
                <div class="form-group col-3">
                    <label for="init_id">Fecha de inicio</label>
                    <div class="input-group date">
                        <input class="form-control" type="text" name="init_date" id="init_id" placeholder="{{champ.startDate|date:'Y-m-d'}}">
                        <span class="input-group-addon ml-1">
                            <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </span>            
                    </div>
                </div>
    
                <div class="form-group col-3">
                    <label for="finish_id">Fecha de termino</label>
                    <div class="input-group date">
                        <input class="form-control" type="text" name="finish_date" id="finish_id" placeholder="{{champ.finishDate|date:'Y-m-d'}}">
                        <span class="input-group-addon ml-1">
                            <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </span>            
                    </div>  
                </div>   
            </div>
            <!--end_third_row-->
        
            <div class="row"> 
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit" class="btn btn-sm btn-primary col-8">Modificar</button>
                </div>
            </div>
        </form>
    </div>


    <script>
        $('#limit').change(function()
        {   if(this.checked){ 
                $('#axc')[0].disabled = false;
            }
            else{ 
                $('#axc')[0].disabled = true;
            }
        });

        /*
        $('.cate').change(function(){
            for(x=0;x<8;x++)
            {
                if($('.cate')[x] != this){
                    $('.cate')[x].required = false;
                } 
            }
        })*/

        $('.input-group.date').datepicker({
      startDate:'24-09-2020',
      format: 'yyyy-mm-dd',
      weekStart: 1,
      autoclose: true,
      language:'es'
    });

    </script>

{% endblock %}
    


    