{% extends 'internal_base.html' %}

{% block content %}
<form class="mt-2" action="{% url 'generar_champs' %}">
    <button class="btn btn-primary" type="submit">Generar Campeonatos</button>
</form>

<form class="mt-2" action="{% url 'generar_etapas' %}">
    <button class="btn btn-primary" type="submit">Generar Etapas</button>
</form>

<form class="mt-2" action="{% url 'generar_competencias' %}">
    <button class="btn btn-primary" type="submit">Generar generar_competencias</button>
</form>

<form class="mt-2" action="{% url 'ins_masa' %}">
    <button class="btn btn-primary" type="submit">Generar inscripcion en masa</button>
</form>

<form method="POST" action="{% url 'load_data' %}">
    {% csrf_token %}
    <input type="text" name="nada" id="">
    <button type="submit" class="btn btn-sm btn-primary"> cargar_atletas</button>
</form>

{% endblock %}