<div class="col-6">
    {% if athletes %}
        Atletas
        <table class="table table-sm table stripped" style="width: 100%;">
            <thead class="table-info">
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rut</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for athlete in athletes %}
                <tr>
                    
                    <td>{{athlete.id}}</td>
                    <td>Activo</td>
                    <td>{{athlete.firstName}}</td>
                    <td>{{athlete.surname}}</td>
                    <td>{{athlete.rut}}</td>
                    <td><button class="btn btn-sm btn-success">Modificar</button></td>
                    <td><button class="btn btn-sm btn-warning">Desactivar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %} 
        <h5 class="text-center">No hay atletas registrados</h5>
    {% endif %}
</div>